{{template "header"}}
<meta name="keywords" content="个人随笔,博客,个人博客,个人笔记,技术博客,免费云笔记,云笔记,随笔,IT博客,谷歌地图,码农笔录,www.aiprose.com,aiprose.com,aiprose">
<title>首页 - 个人随笔</title>
<link type="text/css" rel="styleSheet" href="/static/css/index.css"/>
</head>
<body>
{{template "nav" .}}
<div class="jumbotron" style="margin-top: 41px;padding-left: 50px;margin-bottom: 10px">
    <h1>Hello, world!</h1>
    <p>个人随笔2.0(golang)版本正式上线</p>
    <p><a class="btn btn-primary btn-lg" href="/us" role="button">Learn more</a></p>
</div>
<div style="margin: 0 5%" class="blog-root">
    <div style="display: flex">
        <div style="flex: 1">
            <h5>最新发布</h5>
        {{range .TimeBlog}}
            <p><a href="/blog/{{.Id}}" target="_blank">{{.Title}}</a></p>
        {{end}}
        </div>
        <div style="flex: 1">
            <h5>流量王者</h5>
        {{range .BrowsBlog}}
            <p><a href="/blog/{{.Id}}" target="_blank">{{.Title}}</a></p>
        {{end}}
        </div>
    </div>
    <div style="display: flex">
        <div style="flex: 1">
            <h5>收藏排行</h5>
        {{range .LikeBlog}}
            <p><a href="/blog/{{.Id}}" target="_blank">{{.Title}}</a></p>
        {{end}}
        </div>
        <div style="flex: 1">
            <h5>人气最旺</h5>
        {{range .CommBlog}}
            <p><a href="/blog/{{.Id}}" target="_blank">{{.Title}}</a></p>
        {{end}}
        </div>
    </div>
</div>
<div>

</div>
<div style="margin: 30px 5% 0 5%">
{{template "footer"}}
</div>
</body>
</html>