<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="个人随笔是一个面向IT技术人员,提供个人平时工作总结和在线记录学习笔记,个人技术博客,在线云笔记,码农笔录,最新的技术博客,www.aiprose.com">
    <meta name="keywords"
          content="个人随笔,博客,个人博客,个人笔记,技术博客,免费云笔记,云笔记,随笔,IT博客,谷歌地图,码农笔录,www.aiprose.com,aiprose.com,aiprose">
    <link rel="stylesheet" href="//g.alicdn.com/sui/sui3/0.0.18/css/sui.min.css">
{{/*<script type="text/javascript" src="//g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>*/}}
    <title>笔记 - 个人随笔</title>
    <link type="text/css" rel="styleSheet" href="/static/css/menu-reset.css"/>
    <link type="text/css" rel="styleSheet" href="/static/css/notemenu.css"/>
    <link type="text/css" rel="styleSheet" href="/static/css/menunav.css"/>
    <script src="/static/js/menu.js"></script> <!-- Modernizr -->
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <style>
        .w-e-toolbar {
            height: 40px;
            line-height: 30px;
        }

        ::-webkit-scrollbar {
            width: 1px;
            height: 5px;
        }

        ::-webkit-scrollbar-track-piece {
            background-color: rgba(0, 0, 0, 0.1);
            -webkit-border-radius: 6px;
        }
    </style>
</head>
<body>
<header id="slide-container">
    <a id="cd-menu-trigger" href="javascript:void(0)"><span class="cd-menu-icon"></span></a>
</header>

<div class="cd-main-content">
    <div id="editor" class="editor">
    </div>

    <nav class="note-nav">
        <input type="checkbox" id="joacims-menu"/>
        <label for="joacims-menu"><span><img src="/static/img/menu.png"
                                             style="width: 25px;height: 25px;"> </span></label>
        <nav>
            <a href="/" target="_blank">首页</a>
            <a href="javascript:void(0)" id="newNote">新增笔记</a>
            <a href="javascript:void(0)" id="newNoteColl">新增文件夹</a>
            <a href="javascript:void(0)">删除笔记</a>
            <a href="javascript:void(0)">个人中心</a>
            <a href="javascript:void(0)">Shortcodes</a>
        </nav>
    </nav>
</div> <!-- cd-main-content -->

<nav id="cd-lateral-nav">
    <ul class="cd-navigation">
        <li class="item-has-children">
            <a href="javascript:void(0)">Services</a>
            <ul class="sub-menu">
                <li><a href="javascript:void(0)" onclick="noteClick(1)">Brand</a></li>
                <li><a href="javascript:void(0)">Web Apps</a></li>
                <li><a href="javascript:void(0)">Mobile Apps</a></li>
            </ul>
        </li> <!-- item-has-children -->

        <li class="item-has-children">
            <a href="javascript:void(0)">Products</a>
            <ul class="sub-menu">
                <li><a href="javascript:void(0)">Product 1</a></li>
                <li><a href="javascript:void(0)">Product 2</a></li>
                <li><a href="javascript:void(0)">Product 3</a></li>
                <li><a href="javascript:void(0)">Product 4</a></li>
                <li><a href="javascript:void(0)">Product 5</a></li>
            </ul>
        </li>
    </ul>
</nav>

<script src="/static/js/menu.js"></script> <!-- Resource jQuery -->
<script type="text/javascript" src="/static/js/layer.js"></script>
</body>
<script>
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.uploadImgServer = '/upload'
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()
    editor.txt.html("<p>点击右上角菜单新建或者选择笔记</p>");

    document.onkeydown = keyDown;

    function keyDown(e) {
        // e.preventDefault();
        var currKey = 0, e = e || event || window.event;
        currKey = e.keyCode || e.which || e.charCode;
        if (currKey == 83 && (e.ctrlKey || e.metaKey)) {
            layer.msg("ctrl+s")
            return false;
        }

    }

    function noteClick(id) {
        layer.msg(id)
    }

    function addNoteCallback(obj) {
        var subMenu = $(".sub-menu")
        $.each(subMenu, function (index, el) {
            if ($(this).attr("value") == obj.Pid) {
                var child = '<li><a href="javascript:void(0)" ' + obj.Id + '>' + obj.Title + '</a></li>'
                $(".sub-menu").append(child)
                return
            }
        })
    }

    $(function () {
        var height = document.documentElement.clientHeight
        $(".w-e-text-container").height(height - 40 - 3);

        layer.tips('文章列表点我', '#slide-container', {
            tips: [3, '#78BA32']
        });

        $("#newNote").click(function () {
            layer.open({
                type: 2,
                title: '新增笔记',
                shadeClose: true,
                shade: 0.8,
                area: ['360px', '280px'],
                content: '/iframe/note.html' //iframe的url
            });
        })
        $("#newNoteColl").click(function () {
            layer.prompt({title: '请输入文件夹名称'}, function (val, index) {
                if (val.trim().length < 3) {
                    layer.msg('文件夹名称最低三个字哦', function () {
                    });
                    layer.close(index);
                    return
                }
                $.post('/notecoll/save', {
                            title: val.trim()
                        },
                        function (data) {
                            debugger
                            if (!data.Status) {
                                parent.layer.msg("保存成功", {icon: 6});
                                var child = '<li class="item-has-children">\n' +
                                        '            <a href="javascript:void(0)">' + data.Titled + '</a>\n' +
                                        '            <ul class="sub-menu" value="' + data.Id + '"></ul>\n' +
                                        '        </li> '
                                $(".cd-navigation").append(child)
                                layer.close(index);
                            }
                        }, 'json')
            });
        })
    })
</script>
</html>