{{template "header"}}
<title>博客 - 个人随笔</title>
<link type="text/css" rel="styleSheet" href="/static/css/me.css"/>
</head>
<body>
<div class="root-container">
{{template "nav" .}}
    <div class="me-menu">
        <div style="height: 50px;line-height: 50px">
            <a href=""><img src="/static/img/2.png" alt="头像" class="img-circle"></a>
            <a href="" style="margin-left: 15px;font-size: 18px;text-decoration: none">{{.Blog.User.NickName}}</a>
        </div>
        <hr style="height:1px;border:none;border-top:1px solid #EEE;margin: 6px;"/>
        <div style="display: flex;height: 30px;line-height: 30px;">
            <div style="display: inline-block;width: 100px">
                <span>文章: </span>
                <span>{{.Blog.User.BlogCount}}</span>
            </div>
            <div style="display: inline-block;flex: 1">
                <span>访问: </span>
                <span>{{.Blog.User.BlogBrowes}}</span>
            </div>
        </div>
        <div style="display: flex;height: 30px;line-height: 30px;">
            <div style="display: inline-block;width: 100px">
                <span>评论: </span>
                <span>{{.Blog.User.BlogComment}}</span>
            </div>
            <div style="display: inline-block;flex: 1">
                <span>喜欢: </span>
                <span>{{.Blog.User.BlogLike}}</span>
            </div>
        </div>
        <hr style="height:1px;border:none;border-top:1px solid #EEE;margin: 6px;"/>
    </div>
    <div class="me-blog-root">
        <div class="me-blog-list">
            <p>vue webpack方式调用amap高德地图及其UI组件</p>
        </div>
    {{template "footer"}}
    </div>
</div>
</div>
</body>
</html>