{{template "header"}}
<title>博客 - 个人随笔</title>
<link type="text/css" rel="styleSheet" href="/static/css/me.css"/>
</head>
<body>
<div class="root-container">
{{template "nav" .}}
{{template "memenu" .}}

    <div class="me-blog-root">
        <div class="me-blog-list">
        {{range .Page.List}}
            <p><a href="/blog/{{.Id}}">{{.Title}}</a></p>
            <div>
                <em>发布时间：{{.Ctime.Format "2006/01/02"}}</em>
                <em>浏览量：{{.Browses}}</em>
                <span style="width: 35px;margin-left: 30px;"><a href="" style="color: #F84822">删除</a></span>
                <span style="width: 35px;margin-left: 10px;"><a href="" style="color: #F84822">编辑</a></span>
            </div>
            <hr style="height:1px;border:none;border-top:1px solid #EEE;margin: 6px;"/>
        {{end}}
            <div style="text-align: center">
                <nav>
                    <div class="pagination pagination-lg">
                        <ul>
                        {{if .Page.FirstPage}}
                            {{else}}
                            <li class="prev">
                                <a href="/me/blog?num={{ .Page.PageNo | NAdd -1}}&flag={{.Flag}}">&laquo;</a>
                            </li>
                        {{end}}
                            <li class="active"><a href="javascript:void(0)">{{.Page.PageNo}}</a></li>
                        {{if .Page.LastPage}}
                            {{else}}
                            <li class="next">
                                <a href="/me/blog?num={{ .Page.PageNo | NAdd +1}}&flag={{.Flag}}">&raquo;</a>
                            </li>
                        {{end}}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    {{template "footer"}}
    </div>
</div>
</div>
</body>
</html>