{{template "header" .}}
<meta name="keywords"
      content="{{.User.NickName}}主页,云悦,个人随笔,博客,个人博客,个人笔记,技术博客,免费云笔记,云笔记,随笔,IT博客,谷歌地图,码农笔录,aiprose">
<meta name="description" content="【{{.User.NickName}}】个人主页 - 云悦,{{.User.DescInfo}}">
<title>【{{.User.NickName}}】个人主页 - 云悦</title>
<link type="text/css" rel="styleSheet" href="/static/css/u.css"/>
</head>
<body>
<div class="root-container">
{{template "nav" .}}
    <div style="height: 100%;margin: 50px 10% 0 10%;">
        <div style="display: flex" class="uinfo">
            <img src="{{.User.Headimg}}" alt="头像" class="img-circle" style="width: 120px;height: 120px">
            <div style="flex: 1;margin-left: 20px;">
            {{/*<h1>{{.User.NickName}}</h1>*/}}
                <h1 style="margin-top: 20px;margin-bottom: 0">{{.User.NickName}}</h1>
                <div style="height: 35px;line-height: 35px;font-size: 14px;">
                {{.User.DescInfo}}
                </div>
                <div class="udesc">
                    <span>加入 {{.User.Ctime.Format "2006-01-02"}}</span>
                    <span>文章 {{.User.BlogCount}}</span>
                    <span>访问 {{.User.BlogBrowes}}</span>
                    <span>评论 {{.User.BlogComment}}</span>
                    <span>收藏 {{.User.BlogLike}}</span>
                </div>
            </div>
        </div>
        <hr class="fhr" color=#ffeeeeee SIZE=0.1 style="margin: 0">
        <div style="color: #515a6e;height: 30px;line-height: 30px;">
            <span>排序: </span>
            <span style="margin-left: 15px"><a href="/u/{{.User.Id}}?num=1&flag=0"
                                               style="color: #515a6e;text-decoration: none">发布时间</a></span>
            <span style="margin-left: 8px"><a href="/u/{{.User.Id}}?num=1&flag=1"
                                              style="color: #515a6e;text-decoration: none">访问量</a></span>
        </div>
    {{range .Page.List}}
        <div class="blog-list">
            <p style="margin: 0;font-size: 16px"><a href="/blog/{{.Id}}" target="_blank">{{.Title}}</a></p>
        </div>
        <hr style="height:1px;border:none;border-top:1px solid #EEE;margin: 0"/>
    {{end}}
    </div>
    <div style="text-align: center">
        <nav>
            <div class="pagination pagination-lg">
                <ul>
                {{if .Page.FirstPage}}
                            {{else}}
                    <li class="prev">
                        <a href="/u/{{.User.Id}}?num={{ .Page.PageNo | NAdd -1}}&flag={{.Flag}}">&laquo;</a>
                    </li>
                {{end}}
                    <li class="active"><a href="javascript:void(0)">{{.Page.PageNo}}</a></li>
                {{if .Page.LastPage}}
                            {{else}}
                    <li class="next">
                        <a href="/u/{{.User.Id}}?num={{ .Page.PageNo | NAdd +1}}&flag={{.Flag}}">&raquo;</a>
                    </li>
                {{end}}
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
<script>
    $(function () {
        /*百度收录*/
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);

        /*360收录*/
        var qihuo = document.createElement('script');
        if (curProtocol === 'https') {
            qihuo.src = 'https://jspassport.ssl.qhimg.com/11.0.1.js?d33b14200fa89b7ecd3780341cd234c';
        }
        else {
            qihuo.src = 'http://js.passport.qihucdn.com/11.0.1.js?d33b14200fa89b7ecd3780341cd234c4';
        }
        qihuo.id = "sozz"
        var s = document.getElementsByTagName("script")[1];
        s.parentNode.insertBefore(qihuo, s);
    })
</script>
</html>