.blog-root{
    height: 100%;
    width: 68%;
    margin: 40px auto;
}
.blog-root .blog-title{
    margin: 60px 0 20px 0;
    text-align: center
}

.blog-user{
    position: fixed;
    top: 60px;
    left: 5px;
    width: 100px;
    height: 100%;
    background-color: #f9f9f9;
}

.blog-info .blog-author{
    display: flex;
}
.blog-info .blog-author .author-headimg{
    display: inline-block;
    width: 48px;
    height: 48px;
}
.blog-info .blog-author .blog-label{
    flex: 1;
    height: 28px;
    line-height: 28px;
    text-align: right;
    padding-top: 20px;
}
.blog-info .blog-author .blog-label label{
   color: #888;
   border:1px dotted #aaa;
    padding: 0 5px;
    border-radius: 5px  ;
}
.blog-info .blog-author .author-headimg .img-circle{
    width: 48px !important;
    height: 48px !important;
    margin-top: 0px !important;
}
.blog-info .blog-author .author-info{
    display: inline-block;
    height: 48px !important;
    vertical-align: bottom;
    text-align: left;
    margin-left: 5px;
}

.blog-info .blog-author .author-info a{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
}

.blog-info .blog-author .author-info span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #888;
    padding-right: 8px;
}

.blog-info em{
    padding: 0 8px !important;
}


.comms-root{
    width: 68%;
    margin: 0 auto;
}

.comms-root a{
   text-decoration: none;
}

img {
    max-width: 100% !important;
}

.blog-referral{
    width: 65%;
    margin: 40px auto;
}