.root-container{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.nav-container{
    max-height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
}

.nav-container .sui-navbar .navbar-inner{
    padding: 0 50px;
}

::-webkit-scrollbar {
    width: 1px;
    height: 0px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 6px;
}

.cursor{
    cursor: pointer
}
