body {
    font-size: 14px !important;
    background: #f5f7f9;
}

.navbar-default{
    border-color: #f8d9ea !important;
}

.img-circle{
    width: 36px;
    height: 36px;
    margin-top: 2px;
}

.img-circle-large{
    width: 110px;
    height: 110px;
}

.root-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.nav-container {
    max-height: 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
}

.nav-container .sui-navbar .navbar-inner {
    padding: 0 50px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 6px;
}

.cursor {
    cursor: pointer
}

.footer-root{
    position: relative;
    width: 100%;
    height: 105px;
}

.footer-friend{
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #555;
}
.footer-friend a{
    color: #555;
    text-decoration: none;
}

.wxcode{
    position: absolute;
    right: 11px;
    top: 11px;
}

.login-footer .wxcode{
    margin-right: 20px;
}
