body {
    font-size: 14px !important;
    background: #fff;
}

a{
    color: #28a3ef;
    text-decoration: none;
}

.layui-nav{
    text-align: right;
}

.navbar-default{
    border-color: #f8d9ea !important;
}

.img-circle-large{
    width: 110px;
    height: 110px;
}

.root-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.nav-container {
    max-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
}
.nav-container li a:hover {
    transform: rotate(5deg) scale(1.1);
}
.nav-container p {
    display: inline-block;
    float: left;
    line-height: 48px;
    font-size: 20px;
    font-weight: 600;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
    height: 2px;
}

::-webkit-scrollbar {
    width: 1px;
    /*height: 0px;*/
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 6px;
}

.cursor {
    cursor: pointer
}

.footer-root{
    color: rgba(255,255,255,.7);
    position: relative;
    width: 100%;
    height: 105px;
    display: flex;
}

.footer-friend{
    text-align: center;
    height: 25px;
    line-height: 25px;
}
.footer-friend a{
    color: rgba(255,255,255,.7);
    text-decoration: none;
}

.img-circle{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.login-footer .wxcode{
    margin-right: 20px;
}

.layui-nav .layui-nav-item{
    line-height: 48px;
}

.footer-container{
    background-color: #393D49;
    padding: 30px 5% 0 5%;
}

.pagination{
    margin: 18px 0;
}

.pagination ul li{
    line-height: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-color: #28a3ef;
    font-size: 16px;
}
.pagination ul li .next .prev{
    font-size: 20px !important;
}
.pagination ul .active{
    background-color: #28a3ef;
}
.pagination ul .active a{
    color: #fff;
}
.breadcrumb-container{
    padding: 20px;
}