
.map-root {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.map-root .map-container {
    width: 100%;
    height: 100%;
}

.amap-logo,.amap-copyright {
    display: none !important;
    visibility: hidden !important;
}