.blog-title{
    display: flex;
    height: 50px;
    line-height: 50px;
}
.blog-title input{
    padding-left: 12px;
    flex: 1;
    height: 44px;
    border: 0;
}

.blog-title button{
    height: 32px;
    margin-top: 9px;
}

.w-e-toolbar{
    height: 40px;
    line-height: 30px;
}
