a {
    text-decoration: none !important;
}

.us-root{
    margin-top: 50px;
    display: flex;
    margin-left: 5%;
    font-size: 16px;
    min-height: 720px;
    height: 100%;
}
.us-root p{
    padding: 5px 0;
    color: #323232;
}